/* App css */

.column {
    float: left;
    width: 33%;
  }

.column-1-hire-image {
    max-width: 20%;
    position: absolute;
    max-height: 96%;
    margin-left: 1%;
}

.column-2-hire-name-cost {
    max-width: 60%;
    position: absolute;
    margin-left: 35%;
    max-width: 45%;
}

.row-employee-name {
    min-width: 100%;
    text-align: left;
    max-height: 50px;
    /* position: absolute; */
    /* top: 50px; */
    /* bottom: 5%; */
    /* top: 30px; */
}

.row-employee-hire-cost {
    min-width: 100%;
    text-align: left;
    max-height: 30px;
    /* position: absolute; */
    /* top: 50px;
    bottom: 5%; */
    /* top: 30px; */
    /* max-width: 45%; */
}

.column-3-hire-total {
    max-width: 20%;
    position: absolute;
    margin-left: 82%;
}

/* ensures we always have a mouse pointer and not 
   a text selection cursor */
div {   
    cursor: default;
}

/* prevents highlighting of text */
::selection {
    color: none;
    background: none;
}

img.image-style {
    width: 300px;
}

.hire-button-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.counter-style {
    text-align: center;
}

.row-hire-button {
    background-image: url(./components/images/button-template-white.png) 0 0 no-repeat fixed;
    background-color: #8ABC36;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height: 90px;
    border: 6px solid #567622;
    border-bottom: 6px solid #567622;
    margin-top: 5px;
}

.row-hire-button-highlight {
    background-image: url(./components/images/button-template-white.png) 0 0 no-repeat fixed;
    background-color: #8ABC36;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height: 90px;
    border: 6px solid #fdfdfc;
    border-bottom: 6px solid #fdfdfc;
    margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* greys out the element if user cannot affor it */
.grey-out {
    opacity: 0.5; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
  }


.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

h3.format-margin {
    margin-top: 0px;
    padding-top: 10px;
}

.zoom {
    transition: transform .5s; /* Animation */
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.1);
  }

.new-border:hover {
    border: 6px solid #7a0707;
}

h1, h3, h4, p {
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
}

h3.font-style {
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    margin: 0;
    margin-top: 20px;
}

p.font-style {
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    margin: 0;
}

.view-border {
    border: 2px solid red;
}
